.overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    background-color: #1e1e1e;
    padding: 10px;
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
        border-radius: 12px;
    color: #e0e0e0;
    outline: none;
}

.image {
    max-height: 80vh;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    border-radius: 10px;
}

.info {
    margin-top: 20px;
    line-height: 1.5;
}